@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  height: 100dvh;
  width: 100vw;
  background-color: #0d192c;
}

.hero {
  width: 350px;
  height: 596px;
  background-color: #15263f;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 302px;
    padding: 24px 0 32px;
    h1 {
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      color: #fff;
      padding-top: 22px;
      cursor: pointer;
      transition: color 0.2s ease-in;
    }
    h1:hover {
      color: #00fff8;
    }
  }
  &__img {
    position: relative;
    cursor: pointer;
    img {
      width: 302px;
      height: 302px;
      border-radius: 8px;
    }
  }
  &__hover {
    position: absolute;
    border-radius: 8px;
    width: 302px;
    height: 302px;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background-color 0.2s ease-in;
  }
  &__view {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    height: 302px;
    top: 0;
    left: 0;
  }
  &__view::after {
    content: "";
    width: 48px;
    height: 48px;
    background-image: url(./images/icon-view.svg);
    cursor: pointer;
    background-repeat: no-repeat;
    position: absolute;
    top: 41%;
    left: 43%;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  &__hover:hover {
    background-color: #00fff8;
    border-radius: 8px;
    opacity: 0.503;
    z-index: 99;
  }
  &__hover:hover + .hero__view::after {
    opacity: 1;
    z-index: 999;
  }

  &__text {
    font-weight: 300;
    color: #8bacd9;
    padding-top: 16px;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 24px;
  }
  &__eth {
    display: flex;
    align-items: center;
    p {
      font-size: 16px;
      font-weight: 600;
      color: #00fff8;
      padding-left: 6px;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    p {
      font-weight: 400;
      font-size: 16px;
      color: #8bacd9;
      padding-left: 6px;
    }
  }
  &__author {
    display: flex;
    align-items: center;
    border-top: #2e405a 1px solid;
    width: 302px;
    margin-top: 24px;
    padding-top: 16px;
    img {
      width: 33px;
      height: 33px;
      border-radius: 33px;
      border: 1px solid #fff;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: #8bacd9;
      padding-left: 16px;
      span {
        color: #ffffff;
        cursor: pointer;
        transition: color 0.2s ease-in;
      }
      span:hover {
        color: #00fff8;
      }
    }
  }
}
